:root {
	--primary-1: #F44336;
    --primary-2: #F6D87C;
    --primary-3: #3FDC75;
    --border: #CDD9ED;
    --border-hover: #99A3BA;
    --text-color: #6C7486;
    --text-color-headline: #3F4656;
}

html, body {
	position: fixed;
	width: 100vw;
	height: 100vh;
}

body {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Encode Sans';
	font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
    background: #F5F9FF;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}
